@import ../utils/variables
@import ../utils/mixins
@import ../../libs/include-media/dist/include-media

/* helper classes
.mark
  color: $mark-color

.align-center
  text-align: center

.align-left
  text-align: left

.align-right
  text-align: right

.float-left
  float: left

.float-right
  float: right

.push-auto
  margin-left: auto
  margin-right: auto

.nobr
  white-space: nowrap

.hide
  display: none !important

.hide-text
  +hide-text

.desktop-only
  +media('<net')
    display: none

.devices-only
  +media('>=tab')
    display: none

.mobile-only
  +media('>=mob')
    display: none

/* chats
.chats
  overflow: hidden
  display: flex
  align-items: flex-start
  justify-content: flex-start
  cursor: default

  &:last-child
    margin-bottom: 0

.chats__group
  margin-left: 4rem

  &:first-child
    margin-left: 0

  & > strong
    display: block
    margin-bottom: 0.6rem
    +font-normal
    font-size: 1.4rem
    line-height: 1.8rem

.chats__list
  position: relative
  display: inline-block
  vertical-align: top
  margin: 0 -15px -15px 0

.chats__item
  float: left
  margin: 0 15px 15px 0

  a
    display: block
    position: relative
    font-size: 60px
    +size(1em)
    color: inherit

    &::before, &::after
      content: ''
      display: block
      position: absolute
      left: 0
      top: 0
      +size(100%)
      background-image: url("../../img/soc-sprite.svg")
      background-repeat: no-repeat
      background-size: 12em auto // размер файла спрайта, т.е. в спрайте 12 иконок размещенных по диагонали, 1em - 1 иконка

    &::after
      opacity: 0

    // hover
    &:hover
      &::before
        opacity: 0

      &::after
        opacity: 1

    $soc-list: 'facebook', 'telegram', 'viber'
    $type-length: 4 // количество цветов одной иконки в спрайте, или через сколько единиц размещается иконка другогой социалки

    @for $i from 1 through length($soc-list)
      $pos: $type-length - $type-length * $i * 1em // на сколко единиц нужно сместить background

      //@debug $pos

      &.#{nth($soc-list, $i)}
        &::before // иконка с цветом в нормальном состоянии (фон без смещения - в спрайте такие иконки идут первыми: 1, 5, 9 и т.д.)
          $p: $pos
          background-position: $p $p

        &::after // икона с цветом при наведении (фон семстить на -1em - в спрайте такие иконки идут вторыми: 2, 6, 10 и т.д.)
          $p: $pos - 1
          background-position: $p $p

        .user-form__msg__soc &
          &::before // иконка с другим цветом в нормальном состоянии (фон семстить на -2em - в спрайте такие иконки идут вторыми: 3, 7, 11 и т.д.)
            $p: $pos - 2
            background-position: $p $p

          &::after // иконка с другим цветом при наведении (фон семстить на -3em - в спрайте такие иконки идут вторыми: 4, 8, 12 и т.д.)
            $p: $pos - 3
            background-position: $p $p

    span // Скрыть текст, но оставить видимым для озвучивающих программ
      +hide-text

/* chats end

/* ====================================
/* ============== HEADER ==============
/* ====================================
.header
  overflow-x: hidden
  position: fixed
  left: 0
  top: 0
  width: 100%
  min-width: $layout-page-min-width
  height: $header-height
  box-shadow: 0 0.2rem 0.3rem rgba($base-color-alt, 0)
  z-index: $z-high
  transition: box-shadow $animation-speed

  &::before
    content: ""
    display: block
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    background-color: $base-color
    opacity: 0.84
    // transition
    $prop: opacity, box-shadow
    will-change: $prop
    transition:
      property: $prop
      duration: $animation-speed
      timing-function: ease-in-out

  .page-scrolled &
    box-shadow: 0 0.2rem 0.5rem rgba($base-color-alt, 0.1)

    &::before
      opacity: 1

// Добавлять класс, если не нужно фиксить шапку
.header_float
  position: relative
  left: auto
  top: auto

.header-frame
  position: relative
  display: flex
  align-items: center
  justify-content: space-between
  height: 100%

/* logo
.logo
  float: left
  display: block
  position: relative
  width: 15.9rem
  margin-left: 1.3rem
  background-image: url(../../img/logo.png)
  background-repeat: no-repeat
  background-size: contain
  cursor: pointer

  //.page-scrolled &
    width: 13.6rem

  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)
    background-image: url(../../img/logo-2x.png)

  +media('<net')
    width: 13.5rem
    margin-left: 0

  +media('<tab-s')
    margin-left: 1rem

  &::before
    content: ""
    display: block
    +ratio(159, 23)

  a, & > span
    display: block
    overflow: hidden
    position: absolute
    box-shadow: none
    left: 0
    top: 0
    width: 100%
    height: 100%
    text-indent: -9999px

/* logo end

/* navigation
.nav-wrap
  display: flex
  align-items: center
  margin: 0

  +media('<tab-s')
    display: none

.nav
  position: relative

.nav__list
  list-style: none
  margin: 0
  padding: 0
  font-size: 1.4rem
  line-height: 1.8rem
  letter-spacing: 0.025em
  cursor: default
  +clear

  li
    position: relative
    float: left
    margin-left: 4rem

    +media('<net')
      margin-left: 2.6rem

  a
    display: flex
    align-items: center
    justify-content: center
    height: $header-height
    color: white
    text-decoration: none
    box-shadow: none
    transition: color $animation-speed

    &:hover
      color: $highlight-color--hover

  // current
  li.current
    color: $text-color-light
    pointer-events: none

    a, & > span
      text-decoration: none
      color: inherit
      cursor: default

// btn callback
.btn-callback
  $btn-height: 4rem
  $btn-font-size: 1.4rem
  $btn-line-height: 1.8rem
  $btn-letter-spacing: 0.025em
  $btn-border-width: 0.2rem
  $btn-space-inner-vertical: round-float(($btn-height - $btn-line-height - $btn-border-width * 2) / 2, 1)
  display: inline-block
  vertical-align: top
  position: relative
  margin: 0
  padding: #{$btn-space-inner-vertical} 1.195em #{$btn-space-inner-vertical} 1.22em
  +font-size($btn-font-size, $btn-line-height)
  letter-spacing: $btn-letter-spacing
  color: white
  text-decoration: none
  text-align: center
  cursor: pointer // Для input-елементов
  border: $btn-border-width solid currentColor
  background: none
  box-shadow: none
  border-radius: $btn-height
  user-select: none
  -webkit-tap-highlight-color: transparent
  transition: color $animation-speed

  +media('<net')
    $btn-height: 3.2rem
    $btn-space-inner-vertical: round-float(($btn-height - $btn-line-height - $btn-border-width * 2) / 2, 1)
    padding: #{$btn-space-inner-vertical} 0.6em #{$btn-space-inner-vertical} 0.625em
    border-radius: $btn-height

  +media('<tab')
    margin-right: -1.1rem

  // Hover
  &:hover
    .no-touchevents &
      color: $highlight-color--hover

  // Disabled
  &:disabled, &.disabled, &[data-disabled]
    +btn-disabled()

  .header &
    margin-left: 3.9rem

    +media('<net')
      margin-left: 2.1rem

/* navigation end

/* alternative navigation
.alt-nav
  position: relative

.alt-nav__list
  list-style: none
  padding: 0
  margin: 0
  cursor: default

  +media('<net')
    text-align: center

  +media('<mob')
    margin: 0 -0.8rem

  li
    font-size: 2.0rem
    line-height: 2.8rem
    letter-spacing: 0.025em
    margin-bottom: 2.8rem
    overflow: hidden

    &:last-child
      margin-bottom: 0

  a
    color: white
    text-decoration: none
    box-shadow: none
    transition: color $animation-speed
    padding-top: 0.5em

    .no-touchevents &:hover
      color: $highlight-color--hover

  // current
  li.current
    color: rgba(white, 0.5)
    pointer-events: none

    a, & > span
      text-decoration: none
      color: inherit
      cursor: default

/* alternative navigation end

/* === SHUTTER NAVIGATION ===
$switcher-nav-delay: 0.10s
$switcher-nav-dur: 0.2s
$toggle-nav-delay: $switcher-nav-delay + $switcher-nav-dur
$toggle-nav-dur: 0.2s
$toggle-nav-curtains-dur: 0.5s
$toggle-nav-item-dur: 0.4s
// =====================

/* shutter navigation switcher
.shutter-nav-switcher
  $btn-nav-size: $header-height
  $btn-nav-lines-width: 2.0rem
  $btn-nav-lines-height: 0.4rem
  $btn-nav-lines-color: currentColor
  // =====================

  display: none
  position: absolute
  right: 0
  top: 50%
  margin: -#{round-float($btn-nav-size / 2, 1)} 0 0
  color: white
  text-decoration: none
  width: $btn-nav-size
  height: $btn-nav-size
  user-select: none
  -webkit-tap-highlight-color: transparent
  // transition
  $prop: color
  will-change: $prop
  transition:
    property: $prop
    duration: $switcher-nav-dur
    timing-function: ease-in-out

  .page-scrolled &
    color: white

  +media('<tab-s')
    display: block

  // верх, середина, низ
  &::before, &::after, & > i
    display: block
    position: absolute
    left: 50%
    height: $btn-nav-lines-height
    background-color: $btn-nav-lines-color
    border-radius: 0
    // transition
    $prop: transform, opacity
    will-change: $prop
    transition:
      property: $prop
      duration: $switcher-nav-dur
      timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95)

  // верх, низ
  &::before, &::after
    content: ""
    margin-top: 0.7rem
    margin-bottom: 0.7rem

  // верх
  &::before
    $space: 0.2
    width: $btn-nav-lines-width + $space
    margin-left: -#{round-float($btn-nav-lines-width / 2, 1) + $space}
    bottom: 50%
    transition-delay: 0s

  // середина
  & > i
    font-size: 0
    line-height: 0
    top: 50%
    $space: 0.6
    width: $btn-nav-lines-width + $space
    margin: -#{round-float($btn-nav-lines-height / 2, 1)} 0 0 -#{round-float($btn-nav-lines-width / 2, 1) + $space}
    transition-delay: round-float($switcher-nav-delay / 2, 2)

  // низ
  &::after
    $space: -0.2
    width: $btn-nav-lines-width + $space
    margin-left: -#{round-float($btn-nav-lines-width / 2, 1) + $space}
    top: 50%
    transition-delay: $switcher-nav-delay

  // текст
  & > span
    +hide-text

  // hover
  &:hover
    color: $highlight-color--hover

  // opened
  &.shutter-nav_is-open
    +media('<tab-s')
      &::before, &::after, & > i
        transform: translate(80px, 0) translateZ(0)
        opacity: 0

/* shutter navigation switcher end

/* shutter navigation close
.shutter-nav-close
  position: fixed
  width: $header-height
  height: $header-height
  top: 0
  right: 0
  font-size: 0
  line-height: 0
  opacity: 0
  pointer-events: none
  visibility: hidden
  z-index: 10000
  $rotate: -20deg
  transform: rotate($rotate)
  transform: rotate($rotate) translateZ(0)
  // transition
  $prop: transform, opacity, visibility
  will-change: $prop
  transition:
    property: $prop
    // Кнопку закрытия скрывать с задержкой (сразу после закрытия меню), без анимацией
    duration: 0s
    delay: 0s
    timing-function: ease-in-out
  user-select: none
  -webkit-tap-highlight-color: transparent

  &::before, &::after
    $nav-close-cross-size: 0.4rem 2.4rem
    content: ""
    display: block
    position: absolute
    left: 50%
    top: 50%
    height: nth($nav-close-cross-size, 1)
    width: nth($nav-close-cross-size, 2)
    margin: -#{round-float(nth($nav-close-cross-size, 1) / 2, 1)} 0 0 -#{round-float(nth($nav-close-cross-size, 2) / 2, 1)}
    border-radius: 0
    background-color: white
    // transition
    $prop: background-color
    will-change: $prop
    transition:
      property: $prop
      duration: $animation-speed
      timing-function: ease-in-out

  &::before
    transform: rotate(45deg)

  &::after
    transform: rotate(-45deg)

  &:hover
    .no-touchevents
      &::before, &::after
        background-color: $highlight-color--hover

  &.shutter-nav_is-open
    +media('<tab-s')
      opacity: 1
      pointer-events: auto
      visibility: visible
      $rotate: 0deg
      transform: rotate($rotate)
      transform: rotate($rotate) translateZ(0)
      transition:
        duration: $animation-speed
        delay: $animation-speed

/* shutter navigation close end

/* shutter navigation overlay
.shutter-overlay
  position: fixed
  left: 0
  top: 0
  height: 100%
  width: 100%
  background-color: rgba(black, 0.35)
  z-index: 9998
  opacity: 0
  pointer-events: none
  // transition
  $prop: opacity
  will-change: $prop
  transition:
    property: $prop
    duration: $animation-speed
    timing-function: ease-in-out

  &.shutter-nav_is-open
    +media('<tab-s')
      opacity: 1

/* shutter navigation overlay end

/* shutter navigation
.shutter-nav
  position: fixed
  right: 0
  top: 0
  display: block
  align-items: center
  justify-content: center
  width: 100%
  height: 100%
  overflow-x: hidden
  overflow-y: auto
  opacity: 0
  visibility: hidden
  pointer-events: none
  background-color: $base-color
  z-index: 9999
  $translate: 100%, 0
  transform: translate($translate)
  transform: translate3d($translate, 0)
  // Общий блок меню скрывать без задержки, с анимацией
  transition:
    property: opacity, visibility, transform
    duration: $animation-speed

  &.shutter-nav_is-open
    +media('<tab-s')
      opacity: 1
      visibility: visible
      pointer-events: auto
      $translate: 0, 0
      transform: translate($translate)
      transform: translate3d($translate, 0)

.shutter-nav__content
  padding-top: 8rem
  padding-bottom: 8rem

/* shutter navigation menu
.sn__alt-nav
  margin: 0 0 6.7rem

  &:last-child
    margin-bottom: 0

/* shutter navigation menu end

/* shutter navigation form
.sn__callback-form
  margin-bottom: 8.9rem

  &:last-child
    margin-bottom: 0

  label
    background-color: $base-color

  .callback-form__btn
    color: white

/* shutter navigation form end

/* shutter navigation telephone
.sn-tel
  list-style: none
  margin: 0 0 1.9rem
  padding: 0
  font-size: 2.4rem
  line-height: 4.0rem

  &:last-child
    margin-bottom: 0

  li
    margin-bottom: 2.2rem

    &:last-child
      margin-bottom: 0

  a
    color: inherit

    strong
      font-family: inherit
      font-size: 4.0rem
      padding-left: 0.1em

/* shutter navigation telephone end

/* shutter navigation info
.sn-email
  font-size: 2.4rem
  line-height: 4.0rem
  margin-bottom: 4.1rem

  &:last-child
    margin-bottom: 0

  a
    color: $base-color-alt
    box-shadow: inset 0 -1px 0 rgba($base-color-alt, 0.5)
    transition: box-shadow $animation-speed

    &:hover
      box-shadow: inset 0 0 0 rgba($base-color-alt, 0.5)

.sn-adr
  font-size: 1.8rem
  line-height: 2.2rem
  margin-bottom: 4.8rem

  &:last-child
    margin-bottom: 0

  a
    color: $base-color-alt
    box-shadow: inset 0 -1px 0 rgba($base-color-alt, 0.5)
    transition: box-shadow $animation-speed

    &:hover
      box-shadow: inset 0 0 0 rgba($base-color-alt, 0.5)

.sn-terms
  font-size: 1.8rem
  line-height: 2.2rem
  margin-bottom: 2.7rem

  &:last-child
    margin-bottom: 0

  a
    color: $base-color-alt
    box-shadow: inset 0 -1px 0 rgba($base-color-alt, 0.5)
    transition: box-shadow $animation-speed

    &:hover
      box-shadow: inset 0 0 0 rgba($base-color-alt, 0.5)

.sn-license
  font-size: 1.8rem
  line-height: 2.2rem
  margin-bottom: 4.9rem

  &:last-child
    margin-bottom: 0

  a
    color: $base-color-alt
    box-shadow: inset 0 -1px 0 rgba($base-color-alt, 0.5)
    transition: box-shadow $animation-speed

    &:hover
      box-shadow: inset 0 0 0 rgba($base-color-alt, 0.5)

/* shutter navigation info end

/* shutter navigation chats
.sn__chats
  margin: 0 auto 4rem

/* shutter navigation chats end
/* shutter navigation end


/* ====================================
/* ============= FOOTER ===============
/* ====================================
.footer
  font-size: 1.8rem
  line-height: 2.2rem
  background-color: $bg-color-alt

  //+media('<tab-s')
    padding-left: #{nth($layout-page-space--mob, 2) * 2}

  a
    color: inherit
    text-decoration: none
    box-shadow: none

.footer-common
  padding: 7.6rem #{nth($layout-flood-space, 2)} 5.9rem
  +clear

  +media('<net')
    padding: 8.5rem 0 6.9rem

  +media('<tab-s')
    padding: 3.6rem 0 4.7rem

/* footer telephone
.f-tel
  float: left
  clear: left
  width: 50%
  list-style: none
  padding: 0 round-float(nth($footer-grid-space, 2) / 2, 1) 0 0
  margin: 0 0 8.7rem
  font-size: 2.4rem
  line-height: 4.0rem

  +media('<net')
    padding-right: round-float(nth($footer-grid-space--net, 2) / 2, 1)

  +media('<tab-s')
    float: none
    width: auto
    padding: 0
    margin-bottom: 1.9rem

  &:last-child
    margin-bottom: 0

  li
    margin-bottom: 2.2rem

    &:last-child
      margin-bottom: 0

  a
    strong
      font-family: inherit
      font-size: 4.0rem
      padding-left: 0.1em

/* footer telephone end

/* footer info
.f-info
  float: right
  clear: right
  width: 50%
  padding: 0.5rem 0 0 #{round-float(nth($footer-grid-space, 2) / 2, 1)}

  +media('<net')
    padding-left: #{round-float(nth($footer-grid-space--net, 2) / 2, 1)}

  +media('<tab-s')
    float: none
    width: auto
    padding: 0
    margin-bottom: 4.9rem

.f-email
  font-size: 2.4rem
  line-height: 4.0rem
  margin-bottom: 3.9rem

  +media('<tab-s')
    margin-bottom: 4.1rem

  &:last-child
    margin-bottom: 0

  a
    color: inherit
    text-decoration: none
    box-shadow: 0 1px 0 rgba($text-color, 0.5)
    transition:
      property: color, box-shadow
      duration: $animation-speed

    &:hover
      color: $highlight-color--hover
      box-shadow: 0 1px 0 transparent

.f-adr
  margin-bottom: 7.1rem

  +media('<tab-s')
    margin-bottom: 4.8rem

  &:last-child
    margin-bottom: 0

.f-terms
  margin-bottom: 2.7rem

  &:last-child
    margin-bottom: 0

  a
    color: inherit
    text-decoration: none
    box-shadow: 0 1px 0 rgba($text-color, 0.5)
    transition:
      property: color, box-shadow
      duration: $animation-speed

    &:hover
      color: $highlight-color--hover
      box-shadow: 0 1px 0 transparent

.f-license
  margin-bottom: 2.7rem

  &:last-child
    margin-bottom: 0

  a
    color: inherit
    text-decoration: none
    box-shadow: 0 1px 0 rgba($text-color, 0.5)
    transition:
      property: color, box-shadow
      duration: $animation-speed

    &:hover
      color: $highlight-color--hover
      box-shadow: 0 1px 0 transparent

/* footer info end

/* footer chats
.footer__chats
  float: left
  clear: left
  width: 50%
  padding: 0 #{round-float(nth($footer-grid-space, 2) / 2, 1)} 0 0

  +media('<net')
    padding-right: #{round-float(nth($footer-grid-space--net, 2) / 2, 1)}

  +media('<tab-s')
    float: none
    width: auto
    padding: 0

  a
    box-shadow: none

/* footer chats end

.footer-bottom
  display: flex
  align-items: center
  justify-content: space-between
  min-height: 9.6rem
  padding-top: 2.8rem
  padding-bottom: 2.8rem

  +media('<tab')
    display: block
    padding-bottom: 5.6rem

  +media('<tab-s')
    padding-bottom: 9.5rem

/* copyright
.copyright
  font-size: 1.4rem
  line-height: 1.8rem

  +media('<net')
    text-align: center
    margin-bottom: 3.5rem

  +media('<tab-s')
    margin-bottom: 3.5rem

  span
    font-family: Helvetica, Arial, sans-serif

/* copyright end

/* developer
.developer
  text-align: right
  font-size: 1.4rem
  line-height: 1.8rem

  +media('<net')
    text-align: center

  a
    color: inherit
    text-decoration: none
    transition: color $animation-speed
    box-shadow: none

    &:hover
      color: $highlight-color--hover

.developer__logo
  display: inline-block
  vertical-align: top
  margin-right: 0.5rem

  +media('<tab-s')
    display: block
    margin: 0 0 0.4rem

  svg
    display: inline-block
    vertical-align: top
    +size(7.3rem, 1.7rem)

    path
      fill: currentColor

.developer__text
  position: relative
  display: inline-block
  vertical-align: top
  top: -0.1rem

  +media('<tab-s')
    display: block
    text-align: center
    top: 0

/* developer end


/* ====================================
/* ============== MAIN ================
/* ====================================
.main
  position: relative

/* promo
.promo
  position: relative
  display: flex
  align-items: center
  justify-content: center
  min-height: 64.9rem
  padding-top: #{$header-height + 7.2}
  padding-bottom: 6.5rem
  background-color: $base-color
  margin-bottom: -3rem

  +media('<net')
    min-height: 60.3rem

  +media('<tab-s')
    min-height: 59.3rem
    padding-top: #{$header-height + 5.3}

.promo__bg
  overflow: hidden
  position: absolute
  right: 0
  bottom: 0
  min-width: 100%
  min-height: 100%
  height: auto
  width: auto
  background-color: $base-color
  //opacity: 0.3

  video, img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    +object-fit(cover)

.promo__container
  flex-basis: 100%
  width: 100%
  max-width: $layout-large-width
  position: relative
  text-align: center
  color: white

.promo__caption
  +font-medium
  $font-size: 2.4rem
  $line-height: 3.2rem
  $line-height-kef: $line-height / $font-size
  +font-size($font-size, $line-height)
  max-width: $layout-flood-width
  margin: 0 auto 2.3rem
  padding: 0 calc(#{nth($layout-flood-space, 2)} + #{nth($layout-text-space, 2)})

  +media('<net')
    font-size: 2.2rem
    line-height: round-float(2.2rem * $line-height-kef, 1)
    padding: 0 calc(#{nth($layout-flood-space--net, 2)} + #{nth($layout-text-space--net, 2)})
    margin-bottom: 2.5rem

  +media('<tab-s')
    font-size: 2.0rem
    line-height: round-float(2.0rem * $line-height-kef, 1)
    padding: 0
    margin-bottom: 3.1rem

  &:last-child
    margin-bottom: 0

.promo__title
  color: white
  margin-bottom: 5.1rem

  +media('<net')
    margin-bottom: 5.6rem

  +media('<tab-s')
    margin-bottom: 6.5rem

  &:last-child
    margin-bottom: 0

.promo__subtitle
  +font-size($font-size, $line-height)
  max-width: $layout-flood-width
  margin: 0 auto 1rem
  padding: 0 calc(#{nth($layout-flood-space, 2)} + #{nth($layout-text-space, 2)})

  +media('<net')
    padding: 0 calc(#{nth($layout-flood-space--net, 2)} + #{nth($layout-text-space--net, 2)})

  +media('<tab-s')
    padding: 0
    font-size: 1.8rem
    line-height: 2.2rem

  &:last-child
    margin-bottom: 0

/* promo end

/* need
.need__container
  position: relative
  max-width: $layout-flood-width
  margin: 0 auto
  padding: 10.5rem #{nth($layout-flood-space, 2)} 8.1rem
  background-color: white
  +shadow

  +media('<net')
    padding: 4.7rem #{nth($layout-flood-space--net, 2)} 7.1rem

  +media('<tab-s')
    padding: 1.8rem #{nth($layout-flood-space--mob, 2)} 4.3rem

.need__content
  padding: 0 #{nth($layout-text-space, 2)} 4.7rem

  +media('<net')
    padding: 0 #{nth($layout-text-space--net, 2)} 4.7rem

  +media('<tab-s')
    padding: 0 #{nth($layout-text-space--mob, 2)} 2.8rem

  h2, .h2
    margin-bottom: 3.5rem

  h3, .h3
    margin-bottom: 1.6rem

  p + h3, ul + h3,
  p + .h3, ul + .h3,
  p + h4, ul + h4,
  p + .h4, ul + .h4
    margin-top: 3.9rem

    +media('<tab-s')
      margin-top: 2.9rem

.need__footer
  +font-medium
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: space-between
  font-size: 1.8rem
  line-height: 2.6rem

  +media('<net')
    margin-left: -#{nth($layout-text-space--net, 2)}
    margin-right: -#{nth($layout-text-space--net, 2)}

  +media('<tab-s')
    margin-left: 0
    margin-right: 0

  a
    margin-bottom: 3.1rem

/* need end

/* bond
$bond-space: 3.7rem 4rem 4.1rem
$bond-space--mob: 2.6rem 2rem 3.5rem
$bond-border-radius: 0.4rem
.bond
  $element: &
  display: block
  position: relative
  padding: $bond-space
  color: $base-color-alt
  text-decoration: none
  cursor: pointer
  background-color: $highlight-color
  border-radius: $bond-border-radius
  box-shadow: 0 1rem 2.5rem rgba($base-color-alt, 0.25)
  transition: background-color $animation-speed, color $animation-speed

  +media('<tab-s')
    padding: $bond-space--mob

  &:hover
    background-color: $highlight-color--hover
    box-shadow: 0 1rem 2.5rem rgba($base-color-alt, 0.25)

  @at-root
    .bond__figure
      overflow: hidden
      height: 17.9rem
      background-color: $base-color-alt
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      $br: $bond-border-radius
      border-radius: $br $br 0 0
      margin: -#{nth($bond-space, 1)} -#{nth($bond-space, 2)} 3.7rem

      +media('<tab-s')
        height: 11.7rem
        margin: -#{nth($bond-space--mob, 1)} -#{nth($bond-space--mob, 2)} 2.6rem

    .bond__logotype
      display: flex
      align-items: center
      justify-content: flex-start
      width: 15rem
      height: 3.5rem
      margin: 0 0 3.5rem

      +media('<tab-s')
        width: 10rem
        height: 2rem
        margin-bottom: 2.2rem

      img
        display: block
        max-width: 100%
        max-height: 100%

    .bond__title
      display: block
      position: relative
      +font-medium
      font-size: 2.4rem
      line-height: 2.8rem
      color: white
      margin-bottom: 2.3rem

      +media('<tab-s')
        font-size: 1.8rem
        line-height: 2.4rem
        margin-bottom: 1rem

    .bond__emission
      margin-bottom: 0.6rem
      font-size: 1.8rem
      line-height: 2.4rem

      +media('<tab-s')
        margin-bottom: 0.8rem
        font-size: 1.6rem
        line-height: 2.0rem

      &:last-child
        margin-bottom: 0

      strong
        display: inline-block
        +font-medium
        font-size: 2.4rem
        color: white

        +media('<tab-s')
          font-size: 1.8rem

    .bond__value
      margin-bottom: 0.6rem
      font-size: 1.8rem
      line-height: 2.4rem

      +media('<tab-s')
        margin-bottom: 0.8rem
        font-size: 1.6rem
        line-height: 2.0rem

      &:last-child
        margin-bottom: 0

      strong
        display: inline-block
        +font-medium
        font-size: 2.4rem
        color: white

        +media('<tab-s')
          font-size: 1.8rem

/* bond end

/* cases slider
.cases-slider
  position: relative
  padding: 3rem 0 5rem
  margin: -3rem 0 5rem

  +media('<tab-s')
    padding-bottom: 4rem
    margin-bottom: 4rem

  .js &:not(.is-loaded)
    opacity: 0
    pointer-events: none
    overflow: hidden

  &:last-child
    margin-bottom: 0

  &.swiper-container
    overflow: visible

.cases-slider__item
  width: 46rem
  pointer-events: none

  +media('<mob')
    width: 38rem

  +media('<mob')
    width: 30rem

.cases-slider__item-visibility
  height: 100%

  .bond
    height: 100%

.swiper-slide-active
  &, & ~ .cases-slider__item
    pointer-events: auto

    .cases-slider__item-visibility
      opacity: 1 !important

.cases-slider__pagination
  &, .swiper-container-horizontal > &
    bottom: 0

/* cases slider end

/* cases
.cases
  padding-top: 7.9rem
  padding-bottom: 9.5rem
  background-color: $bg-color-alt
  overflow: hidden // Обрезать слайдер

  +media('<net')
    padding-bottom: 5.8rem

  +media('<tab-s')
    padding-top: 7rem
    padding-bottom: 5.8rem

.cases__title
  margin-bottom: 7.2rem

  +media('<net')
    margin-bottom: 5.3rem

  h1, h2
    max-width: $layout-large-width
    margin: 0 auto 3rem
    text-align: center

    +media('<net')
      margin-bottom: 3.2rem

    +media('<tab-s')
      margin-bottom: 2.5rem

    &:last-child
      margin-bottom: 0

  h3
    max-width: $layout-flood-width
    margin: 0 auto 3rem
    padding: 0 calc(#{nth($layout-flood-space, 2)} + #{nth($layout-text-space, 2)})
    +font-medium
    text-align: center

    +media('<net')
      padding: 0 calc(#{nth($layout-flood-space--net, 2)} + #{nth($layout-text-space--net, 2)})
      font-size: 2.2rem
      line-height: 2.8rem

    +media('<tab-s')
      padding: 0
      font-size: 2.0rem
      line-height: 2.6rem

    &:last-child
      margin-bottom: 0

/* cases end

/* scope
.scope
  position: relative

.scope__title
  background-color: $bg-color-alt
  margin-bottom: -3rem
  padding-top: 5rem
  padding-bottom: 6.8rem

  +media('<tab-s')
    padding-top: 5.4rem
    padding-bottom: 6.2rem

  h1, h2, h3
    max-width: $layout-flood-width
    margin: 0 auto
    padding: 0 #{nth($layout-flood-space, 2)}

    +media('<net')
      padding: 0 #{nth($layout-flood-space--net, 2)}

    +media('<tab-s')
      padding: 0
      font-size: 2.4rem
      line-height: 2.8rem

.scope__body
  position: relative
  z-index: 1

.scope__container
  position: relative
  max-width: $layout-flood-width
  margin: 0 auto
  padding: 7.6rem #{nth($layout-flood-space, 2)} 11.4rem
  background-color: white
  z-index: 1
  +shadow

  +media('<net')
    padding: 5.1rem #{nth($layout-flood-space--net, 2)} 11.4rem

  +media('<tab-s')
    padding: 2.3rem #{nth($layout-flood-space--mob, 2)} 11.2rem

  h3, .h3
    margin-bottom: 3.8rem

    +media('<tab-s')
      margin-bottom: 3rem

  form
    display: block

    +media('<tab-s')
      margin-left: -#{nth($layout-flood-space--mob, 2)}
      margin-right: -#{nth($layout-flood-space--mob, 2)}

  .form__footer
    +media('<net')
      margin-left: -#{nth($layout-text-space--net, 2)}
      margin-right: -#{nth($layout-text-space--net, 2)}

    +media('<tab-s')
      margin-left: 0
      margin-right: 0

/* scope end

/* advantages slider
.advantages-slider
  position: relative
  padding: 3rem 0 4.9rem
  margin: -3rem 0 5.9rem

  .js &:not(.is-loaded)
    opacity: 0
    pointer-events: none
    overflow: hidden

  &:last-child
    margin-bottom: 0

  &.swiper-container
    overflow: visible

.advantages-slider__item
  position: relative
  pointer-events: none
  padding: 0 #{nth($layout-text-space, 2)}

  //+media('<net')
    padding: 0 #{nth($layout-text-space--net, 2)}

  +media('<tab-s')
    padding: 0 #{nth($layout-text-space--net, 2)} // По дизайну, отступы больше, чем в остальных блоках

  h2
    position: relative
    margin-left: -#{nth($layout-text-space, 2)}
    margin-right: -#{nth($layout-text-space, 2)}
    z-index: 1

    +media('<net')
      margin-left: -#{nth($layout-text-space--net, 2)}
      margin-right: -#{nth($layout-text-space--net, 2)}

    +media('<tab-s')
      margin-left: -#{nth($layout-text-space--net, 2)} // По дизайну, отступы больше, чем в остальных блоках
      margin-right: -#{nth($layout-text-space--net, 2)} // По дизайну, отступы больше, чем в остальных блоках

    &::before
      content: ""
      display: block
      position: absolute
      left: 0
      top: 0.62em
      height: 0
      width: calc(100% + 12.2rem)
      border-top: 0.2rem solid #c5c7d1
      z-index: -1
      opacity: 0
      pointer-events: none
      // transition
      $prop: opacity
      will-change: $prop
      transition:
        property: $prop
        duration: 0.5s
        timing-function: ease-in-out

      +media('<tab-s')
        display: none

    & > span
      $shadow-color: $bg-color-alt
      background-color: $shadow-color
      box-shadow: -2rem 0 0 $shadow-color, 2rem 0 0 $shadow-color

.advantages-slider__item-visibility
  height: 100%

.swiper-slide-active

  &, & ~ .advantages-slider__item
    pointer-events: auto

    .advantages-slider__item-visibility
      opacity: 1 !important

    h2
      &::before
        opacity: 1
        pointer-events: auto

.advantages-slider__pagination
  &, .swiper-container-horizontal > &
    bottom: 0

/* advantages slider end

/* advantages
.advantages
  padding-top: 8.5rem
  padding-bottom: 12rem
  background-color: $bg-color-alt
  overflow: hidden // Обрезать слайдер

  +media('<tab-s')
    padding-top: 3rem

.advantages__content

  h2, .h2
    margin-bottom: 3.5rem

    +media('<tab-s')
      font-size: 3.0rem
      line-height: 3.5rem
      margin-bottom: 2.5rem

  h3, .h3
    margin-bottom: 1.6rem

  p + h3, ul + h3,
  p + .h3, ul + .h3,
  p + h4, ul + h4,
  p + .h4, ul + .h4
    margin-top: 3.9rem

    +media('<tab-s')
      margin-top: 2.9rem

/* advantages end

/* callback form
.callback-form
  max-width: $layout-flood-width

.callback-form__title
  max-width: $layout-small-width
  +push-auto
  padding: 0 #{$form-border-width + $form-input-space-h}

  +media($form-media--net)
    padding: 0 #{$form-border-width--net + $form-input-space-h--net}

  +media($form-media--mob)
    padding: 0 #{$form-border-width--mob + $form-input-space-h--mob}
    +font-normal
    font-size: 1.6rem
    line-height: 2.4rem
    margin-bottom: 2.2rem

.callback-form__fields
  max-width: $layout-small-width
  margin: 0 auto 5.3rem

  +media('<tab-s')
    margin-bottom: $form-bottom-space--mob

  &:last-child
    margin-bottom: 0

.callback-form__footer
  text-align: right

  +media('<net')
    margin-left: -#{nth($layout-text-space--net, 2)}
    margin-right: -#{nth($layout-text-space--net, 2)}

  +media('<tab-s')
    margin-left: 0
    margin-right: 0

/* callback form end

/* prospects
.prospects
  padding-top: 6.9rem
  padding-bottom: 11.4rem
  background-color: $base-color
  color: white

  +media('<net')
    padding-top: 7.9rem
    padding-bottom: 10.4rem

  +media('<tab-s')
    padding-top: 2.9rem
    padding-bottom: 11.4rem

  a
    color: white

.prospects__title
  margin-bottom: 6.7rem

  +media('<net')
    margin-bottom: 6.4rem

  +media('<tab-s')
    margin-bottom: 4.5rem

  h1, h2
    max-width: $layout-large-width
    margin: 0 auto 3rem
    text-align: center
    color: inherit

    +media('<net')
      margin-bottom: 3.8rem

    +media('<tab-s')
      margin-bottom: 2.5rem

    &:last-child
      margin-bottom: 0

  h3
    max-width: $layout-flood-width
    margin: 0 auto 3rem
    padding: 0 calc(#{nth($layout-flood-space, 2)} + #{nth($layout-text-space, 2)})
    +font-normal
    font-size: 1.8rem
    line-height: 2.6rem
    text-align: center
    color: inherit

    +media('<net')
      font-size: 1.8rem
      line-height: 2.2rem
      padding: 0 calc(#{nth($layout-flood-space--net, 2)} + #{nth($layout-text-space--net, 2)})

    +media('<tab-s')
      font-size: 1.8rem
      line-height: 2.2rem
      padding: 0

    &:last-child
      margin-bottom: 0

.prospects__form
  max-width: $layout-flood-width
  margin: 0 auto 3rem
  padding: 0 #{nth($layout-flood-space, 2)}

  +media('<net')
    padding: 0 #{nth($layout-flood-space--net, 2)}

  +media('<tab-s')
    padding: 0

  &:last-child
    margin-bottom: 0

  label
    background-color: $base-color

  .callback-form__btn
    color: white

/* prospects end